[Unit]
Description=FLUXA Smart Traffic Light Edge Controller & Telemetry Daemon
After=network.target mariadb.service
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/moisesmartinez/PycharmProjects/yolov8srknn/yolov8_semaforo_advanced
ExecStart=/home/moisesmartinez/PycharmProjects/yolov8srknn/.venv/bin/python3 main.py --topology 4_way --backend cpu --headless --port 5000
Restart=always
RestartSec=5s
KillMode=process
TimeoutStopSec=10s

# Entorno de ejecución optimizado para Edge
Environment=PYTHONUNBUFFERED=1
Environment=OPENCV_LOG_LEVEL=ERROR

# Límites de recursos y seguridad
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
